<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body class="mt-5">
    <div class="container">
        <div class="row mt-5 ">
            <form id="themeform" method="GET" action="{% url 'stamp:stamp_list' %}">
                <div class="row">
                    <div class="col-md-1">
                        <label for="exampleInputEmail1" class="form-label">Themes</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="theme_name">
                    </div>
                </div>
            </form>
        </div>
        <div class="row mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stamp year</th>
                        <th scope="col">Stamp denomination</th>
                    </tr>
                </thead>
                <tbody id="stamp_list">
                    {% include "stamp/stamp_table_list.html" %}
                </tbody>
                
            </table>
        </div>
    </div>
    <style> .ui-helper-hidden-accessible{display: none;};</style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    
    <script>
        $( function() {
          $( "#theme_name" ).autocomplete({
            source:"{% url 'stamp:stamp_list' %}",
            minLength: 2 , 
            select : function( event ) {
                $.ajax({                       // initialize an AJAX request
                    url: "{% url 'stamp:stamp_list' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                    data: {
                      'theme': $(this).val()       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                      $("#stamp_list").html(data['form']);
                       // replace the contents of the city input with the data that came from the server
                    }
                  }); 
            }
          });
        } );

        </script>
    
</body>

</html>